<%- include('partialsadmin/adminheader') %>
<%- include('partialsadmin/adminnav') %>
<%- include('partialsadmin/adminpageheader') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
            </div>
            <div class="row">
                <div class="mb-4 d-flex justify-content-evenly">
                    <a href="/admin/pdf/?type=daily" class="btn btn-md btn-primary" download="sales_report.pdf"><i class="text-muted material-icons md-post_add"></i>Daily
                        report</a>
                        <a href="/admin/pdf/?type=weekly" class="btn btn-md btn-primary" download="sales_report.pdf"><i class="text-muted material-icons md-post_add"></i>Weekly
                            report</a>
                            <a href="/admin/pdf/?type=monthly" class="btn btn-md btn-primary"download="sales_report.pdf"><i class="text-muted material-icons md-post_add"></i>Monthly
                                report</a>
                                <a href="/admin/pdf/?type=yearly" class="btn btn-md btn-primary" download="sales_report.pdf"><i class="text-muted material-icons md-post_add"></i>Yearly
                                    report</a>
                <!-- </div> -->
                <!-- <div> -->
                    <!-- <a href="/admin/excel" class="btn btn-md btn-primary"><i class="text-muted material-icons md-post_add"></i>Create Excel</a> -->
                </div>
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span><%= totalRevenue.toFixed(2) %></span>
                                <span class="text-sm">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span><%= allProductsCount %></span>
                                <span class="text-sm">
                                    In <%= allcategoriesCount %> Categories
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i
                                    class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Monthly Earning</h6> <span><%= monthlyEarnings.toFixed(2) %></span>
                                <span class="text-sm">
                                    Based in your local time.
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i
                                    class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Weekly orders</h6> <span><%= weeklyOrderCount %></span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i
                                    class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Total orders</h6> <span><%= orderCount %></span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5>
                            <canvas id="combinedOrderChart" width="50" height="30"></canvas>
                        </article>
                    </div>
                </div>
            
            <div class="card mb-4">
                <header class="card-header">
                    <h4 class="card-title">Latest orders</h4>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th class="align-middle" scope="col">Order ID</th>
                                        <th class="align-middle" scope="col">Billing Name</th>
                                        <th class="align-middle" scope="col">Date</th>
                                        <th class="align-middle" scope="col">Total</th>
                                        <th class="align-middle" scope="col">Payment Method</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% ordersData.forEach((order)=>{ %>
                                    <tr>
                                        <td><a href="/admin/order-management/orderDetailedView/<%= order._id %>" class="fw-bold"><%= order.oId %></a> </td>
                                        <td><%= order.user.name %></td>
                                        <td>
                                            <%= order.orderDate.toLocaleString() %>
                                        </td>
                                        <td>
                                            INR <%= order.billTotal %>
                                        </td>
                                        <td>
                                            <i class="material-icons md-payment font-xxl text-muted mr-5"></i> <%= order.paymentMethod %>
                                        </td>
                                    </tr><% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- table-responsive end// -->
                </div>
            </div>
        </section> <!-- content-main end// -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var ctx = document.getElementById('combinedOrderChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [ 'Weekly Orders', 'Delivered Orders' , 'Total orders'],
                        datasets: [
                            {
                                label: 'Weekly Orders',
                                data: [ `<%= weeklyOrderCount %>`, 0 , 0],
                                backgroundColor: 'rgb(70, 70, 223)',
                                borderColor: 'rgba(70, 70, 223, 1)',
                                borderWidth: 1
                            },
                            {
                                label: 'Delivered Orders',
                                data: [ 0, `<%= deliveredOrderCount %>` , 0],
                                backgroundColor: ' rgb(0, 128, 0)',
                                borderColor: 'rgba(0, 128, 0, 1)',
                                borderWidth: 1
                            },
                            {
                                label: 'Total orders',
                                data: [ 0, 0, `<%= orderCount %>`],
                                backgroundColor: 'rgb(100, 245, 28)',
                                borderColor: 'rgb(100, 245, 1)',
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
            
            document.addEventListener('DOMContentLoaded', function () {
                var ctx = document.getElementById('averageRevenue').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [ 'Average Revenue'],
                        datasets: [
                            {
                                label: 'Average Revenue',
                                data: [ `<%= averageRevenue %>`, 0],
                                backgroundColor: 'rgba(255, 0, 0, 1)',
                                borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 1
                            },
                        ]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
            </script>
<%- include('partialsadmin/adminfooter') %>