
<%- include('userSidePartials/UserHeader') %>


<%- include('userSidePartials/UserMobileHeader') %>

    <main class="main">
        <section class="home-slider position-relative pt-25 pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="position-relative">
                            <div class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1">
                                <div class="single-hero-slider single-animation-wrap">
                                    <div class="container">
                                        <div class="slider-1-height-3 slider-animated-1">
                                            <div class="hero-slider-content-2">
                                                <h4 class="animated">Offers</h4>
                                                <h2 class="animated fw-900">Supper Value Deals</h2>
                                                <h1 class="animated fw-900 text-brand">On All Products</h1>
                                                <p class="animated">Save more with coupons & up to 50% off</p>
                                                <a class="animated btn btn-brush btn-brush-3" href="/shop"> Shop Now </a>
                                            </div>
                                            <div class="slider-img">
                                                <img src="/userassets/imgs/slider/slider-4.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-hero-slider single-animation-wrap">
                                    <div class="container">
                                        <div class="slider-1-height-3 slider-animated-1">
                                            <div class="hero-slider-content-2">
                                                <h4 class="animated">Tech Promotions</h4>
                                                <h2 class="animated fw-900">shirts Trending</h2>
                                                <h1 class="animated fw-900 text-brand">Great Collection</h1>
                                                <p class="animated">Save more with coupons & up to 20% off</p>
                                                <a class="animated btn btn-brush btn-brush-3" href="/shop"> Shop Now </a>
                                            </div>
                                            <div class="slider-img">
                                                <img src="/userassets/imgs/slider/slider-5.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-arrow hero-slider-1-arrow style-3"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-md-none d-lg-block">
                        <div class="banner-img banner-1 wow fadeIn  animated home-3">
                            <img class="border-radius-10" src="/userassets/imgs/banner/Mens apparel website banner in colorrgb(7, 128, 118).png" alt="">
                            <div class="banner-text" style="background-color: aquamarine; opacity: 80%; border-end-end-radius: 10px; border-top-right-radius: 10px;">
                                <span style="color: rgb(7, 128, 118);">Jeans</span>
                                <h4 style="color: rgb(0, 0, 0);">Save 10% on <br>Denim Jeans</h4>
                                <a href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="banner-img banner-2 wow fadeIn  animated mb-0">
                            <img class="border-radius-10" src="/userassets/imgs/banner/banner-7.jpg" alt="">
                            <div class="banner-text">
                                <span>Smart Offer</span>
                                <h4>Save 20% on <br>Hoodies</h4>
                                <a href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="featured section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="/userassets/imgs/theme/icons/feature-1.png" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="/userassets/imgs/theme/icons/feature-2.png" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="/userassets/imgs/theme/icons/feature-3.png" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="/userassets/imgs/theme/icons/feature-4.png" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="/userassets/imgs/theme/icons/feature-5.png" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up animated">
                            <img src="/userassets/imgs/theme/icons/feature-6.png" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-tabs section-padding wow fadeIn animated">
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                        </li>
                    </ul>
                    <a href="/shop" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                </div>
                <!--End nav-tabs-->


                <!-- START OF PRODUCT LIST  -->

                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">

                        
                        <div class="row product-grid-4">

                            <% products?.forEach((element,index) => { %>
                                <% if(element.isFeatured){ %>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/product-detail/<%= element._id %>">
                                                <img class="default-img" src="/<%= element.image %>" alt="">
                                                <img class="hover-img" src="/<%= element.images[0]  %>" alt="">
                                            </a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="/product-detail/"><%= element.category.name %></a>
                                        </div>
                                        <h2><a href="/product-detail/<%= element._id %>"><%= element.name  %></a></h2>
                                        <div class="d-flex">
                                            <% for (let i = 1; i <= 5; i++) { %>
                                                <% if(i<=element.rating){ %>
                                                    <i class="fa fa-star" style="color: yellow; margin-top: 3px;"></i>
                                                    <% }else{ %>
                                                        <i class="fa fa-star" style="color: black; border-color: black; margin-top: 3px;"></i>
                                                        <% } } %>     <span class="ms-2"><%= element.rating %></span> 
                                                     
                                        </div>
                                        <div class="product-price">
                                            <% if (element.discountPercentage > 0) { %>
                                                <span>INR <%= element.price %> </span>
                                                <span class="old-price"><%= element.originalPrice %></span><span style="font-size: small;"><%= element.discountPercentage %>% Off</span>
                                                <% }else{ %>
                                                    <span>INR <%= element.originalPrice  %> </span>
                                                    <% } %>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <% } %>
                            <% })%>
                        </div>
                    </div>
                </div>

                <!-- END OF PRODUCT LIST -->


                <!--End tab-content-->
            </div>
        </section>
     
    
       
    </main>
   

    <%- include('userSidePartials/UserFooter') %>