<%- include('partialsadmin/adminheader') %>
<%- include('partialsadmin/adminnav') %>
<%- include('partialsadmin/adminpageheader') %>

<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Transactions users List </h2>
    </div>
    <div class="card">
        <div class="card-body">

                <div class="col-lg-12">
                    <!-- card-header end// -->
                    <div class="table-responsive">
                        <table class="table table-hover" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Sr.no</th>
                                    <th>User</th>
                                    <th>Email</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users?.forEach((element,index) => { %>
                                <tr class="align-middle">
                                    <td><%= index+1 %></td>
                                    <td><%= element.name %></td>
                                    <td><%= element.email %></td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center">
                                            <form action="/admin/transactiondetails/<%= element._id %>" method="get">
                                                <button class="btn btn-primary">Transaction List</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <!-- table-responsive.// -->
                </div>
                <!-- col end// -->
        </div>
        <!-- card-body // -->
    </div>
    <!-- card end// -->
    
    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="..." class="d-flex justify-content-end">
            <ul class="pagination ml-auto " id="pagination">
                <% if(page>1){ %>
              <li class="page-item" id="previousPage">
               <a href ="/admin/transactions?page=<%= currentPage-1 %>"> <span class="page-link" style="width: auto;" >Previous</span></a>
              </li>
              <% } %>
              <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                  <a class="page-link" href="/admin/transactions?page=<%= i %>"><%= i %></a>
                </li>
              <% } %>
              <!-- Pagination links will be added dynamically here -->
            <% if(page<totalPages){  %>
              <li class="page-item" id="nextPage">
                <a class="page-link" style="width: auto;" href="/admin/transactions?page=<%= currentPage+1 %>">Next</a>
              </li>
              <% } %>
            </ul>
          </nav>
    </div>
</section>
<%- include('partialsadmin/adminfooter') %>